/****
	Page style
****/
body{
	background-color:#35666F;
}
#calculator{
	width:100%;
}
#parent1{
	position: relative;
	overflow: hidden;
	width: auto;
	float: right; 
	border: solid 2px black ;
}
#parent2 {
	position: relative;
	width: auto;
	float: left;
	border: solid 2px black ;
}

/****
	UI style
****/

/*Set button font size*/
.ui-button,  .ui-button-text .ui-button{  
font-size: 15px !important; 
}

/*loading gif*/
#wait{
	/*visibility: hidden;*/
}
#titolo{
	text-align: center;
}
#spiegazione{
	text-align: center;
	font-size: 12pt;
}